*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    /* outline: 2px solid rgb(255, 0, 0) !important; */
}
:root{
    --body-colour: #081D22;
    --body-colour2:#2f3e51;
    --heading-colour: #90f109;
    --icon-colour: #f8ff32;
    --iconHover-colour: #10dbff;
    --text-colour: white;
}
body{
    background-color: var(--body-colour);
}
.white-text{
    color: white;
}
/*------------------------------------Navbar--------------  */
header{
    background-color: var(--body-colour2);
    position: fixed; 
    top: 0;
    width: 100%;
    z-index: 100;
}
.k{
    width: 25px;
    padding: 2px;
}
li{
    list-style: none;
}
.myNav-link{
    color: white;
    text-decoration: none;
    transition: 0.7s ease;
}
.myNav-link:hover{
    color: var(--iconHover-colour);
}
.myNavbar{
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}
.myNav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}
.hamburger-menu{
    display: none;
    cursor: pointer;
}
.h-bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}
/*------------------------------------Hello-----------------*/
.myname{
    color: var(--heading-colour);
    font-size: 3rem;
}
.minion{
    height: 500px;
}
#landing{
    display: grid;
    height: 100vh;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "hello-text hello-img";
}
.hello-div{
    grid-area: hello-text;
    position: relative;
    animation-name: hello;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}
@keyframes hello{
    0%{
        left: -5px;
        opacity: 0;
    }
    100%{
        left: 200px;
        opacity: 100%;
    }
}
.hello-text{
    font-size: 2rem;
}
.hello-img{
    grid-area: hello-img;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    animation-name: hello-img;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
@keyframes hello-img{
    0%{
        right: -5px;
        opacity: 0;
    }
    100%{
        right: 150px;
        opacity: 100%;
    }
}
.btn-hello{
    text-decoration: none;
    width: 200px;
    text-align: center;
}
/*------------------------------------Projects------------- */

/*------------------------------------About Me--------------*/

/*------------------------------------Form------------------*/
#contact{
    display: flex;
    justify-content: center;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.form-div{
    width: 450px;
    margin: 5px;
    position: relative;
}
.form-span{
    position: absolute;
    top: 5px;
    right: 15px;
}
.form-input{
    width: 100%;
    background-color: var(--body-colour2);
    border: 0;
    outline: 0;
    border-radius: 5px;
    padding: 10px;
    color: white;
}
::placeholder{
    color: white;
    font-size: 1rem;
    font-weight: bold;
}
.btn{
    padding-inline: 1rem;
    padding-block: 0.6rem;
    font-size: 1.3em;
    font-weight: bold;
    color: black;
    background-color: var(--iconHover-colour);
    border: 2px solid rgba(112, 111, 211, 0);
    border-radius: 15px;
    outline: none;
    cursor: pointer;
    transition: .3s;
}
.btn:hover{
    background-color: var(--heading-colour)
}
.btn:focus{
    color: black;
    border: 2px solid none;
    box-shadow: 0px 0px 0px 1px var(--icon-colour);
    animation: btn-anim .3s forwards;
}
@keyframes btn-anim{
    100%{
        box-shadow: 0px 0px 5px 5px rgba(112, 111, 211, 0);
    }
}

/*------------------------------------Footer----------------*/
footer{
    margin-block-start: 20px;
    height: 200px;
    background-color: var(--body-colour2);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 50px;
}
.links{
    display: flex;
    gap: 20px;
}
.mailid{
    margin: 20px;
}

/*------------------------------------Media queries---------*/
@media(min-width:768px){ /*big screen*/

}

@media(max-width:768px){ /*Small screen*/
    /* ---------------------NavBar------------------------- */
    .hamburger-menu{
        display: block;
    }
    .hamburger-menu.active .h-bar:nth-child(2){
        opacity: 0;
    }
    .hamburger-menu.active .h-bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger-menu.active .h-bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .myNav-menu{
        position: fixed;
        right: -100%;
        top: 50px;
        gap: 0;
        flex-direction: column;
        background-color: var(--body-colour2);
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    .myNav-item{
        margin: 16px 0;
    }
    .myNav-menu.active{
        right: 0;
    }
    /* -------------------------------------------hello */
    .myname{
        font-size: 1.8rem;
    }
    .minion{
        height: 250px;
    }
    #landing{
        overflow: hidden;
        display: grid;
        height: 100dvh;
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "hello-text"
                            "hello-img";
    }
    .hello-div{
        grid-area: hello-text;
        position: relative;
        animation-name: hello;
        animation-duration: 3s;
        animation-fill-mode: forwards;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 25px;
    }
    @keyframes hello{
        0%{
            left: -5px;
            opacity: 0;
        }
        100%{
            left: 50px;
            opacity: 100%;
        }
    }
    .hello-text{
        font-size: 1.6rem;
    }
    .hello-img{
        grid-area: hello-img;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        animation-name: hello-img;
        animation-duration: 3s;
        animation-fill-mode: forwards;
    }
    @keyframes hello-img{
        0%{
            right: -5px;
            opacity: 0;
        }
        100%{
            right: 50px;
            opacity: 100%;
        }
    }
}
